<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">


    <title>{{ .resultData.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery-3.4.1.js"></script>

</head>
<body>

<div class="container">
    {{template "head.html"}}
    <div class="row">
        <div class="col-md-12">
            {{/*<div class="row">
				<div class="col-md-12">
					<nav>
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="#">Home</a>
							</li>
							<li class="breadcrumb-item">
								<a href="#">Library</a>
							</li>
							<li class="breadcrumb-item active">
								Data
							</li>
						</ol>
					</nav>
				</div>
			</div>*/}}
            <div class="row">
                <div class="col-md-12">
                    <div style="display: block;height: 55px;width: 1px"></div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/blogs">藏星</a></li>
                        <li class="breadcrumb-item active">{{.resultData.KindName}}</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1>
                            {{/*LayoutIt! <small>Interface Builder for Bootstrap</small>*/}}
                            {{ .resultData.Title}}
                        </h1>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-left">
                                {{/*Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>*/}}
                                {{ .resultData.Content}}
                            </p>
                        </div>
                    </div>
                </div>
                {{template "right.html"}}
            </div>
            <div class="row">
                <div class="col-md-12" style="height: 45px;border: solid 1px brown;margin-top: 20px;margin-bottom: 20px">
                    此处可以是推送
                </div>
            </div>
            {{template "comment.html"}}
        </div>
    </div>
</div>


</body>
</html>